.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #ececec;
    display: flex;
    justify-content: space-between; /* Updated to space-between to push items to edges */
    align-items: center;
    padding: 10px 20px; /* Adjusted padding for symmetry */
    z-index: 1000;
}

.instagram-logo {
    height: 1.25rem; /* Ensure Instagram logo matches your logo's height */
}

.logo-text {
    font-size: 1rem;
    color: black;
}

.instagram-link {
    display: flex;
    align-items: center;
}