.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  /* Added to ensure it stretches to the right end */
    height: 50px;
    background-color: #ececec;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* box-sizing: border-box;  Added to ensure padding is included in the width */
    padding: 10px 10px;  /* Simplified padding */
    z-index: 1000;       /* To ensure the header is always on top */
}

.logo-image {
    height: 40px;  /* Adjust as needed */
}

.logo-text {
    font-size: 1rem;
    color: black;
    /* margin-left: 10px; */
}
