/* index.css or a separate CSS file */
@font-face {
  font-family: 'mainfont';
  src: url('../public/fonts/Kanibuk.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-size: 16px;  /* Base font-size for mobile */
  font-family: 'mainfont', Arial, sans-serif;
}

@media (min-width: 768px) {
  /* Global styles for tablet and larger screens */
  body {
      font-size: 1rem;  /* Adjust base font-size for tablets and up */
  }
}